 <br /> <h2 class="w3-wide w3-center">PRESCRIPTION</h2><br />
 
 <div class="w3-container w3-content w3-center"><p>If prescription is not showing yet, please wait for your Doctor to provide it</p></div>

 <div class="content" align="center">
   
    <%= image_tag @prescription.prescription.url if @prescription.prescription? %>

 </div></br>

